
.welcomePage{
    height:75vh;
    font-family: "Cookie";
    @include flex-collum{

    }
}
.welcomeText{
    margin-top:4%;
}
.welcomeTitle{
    text-align: center;
    font-family: "Cookie";
    font-size: 4.5rem;
    z-index: 1;
    padding:2%;
    margin:2%;
    @include ipadHorizontal{
        font-size:2.8rem;
    }
}
.welcomeSubtitle{

    text-align: center;
    font-size: 4rem;
    z-index: 1;

}
.welcomeParagraph{
    text-align: center;
    font-size:2.7rem;
    max-width:60vw;
    align-items:center;
    display:blcok;
    @include desktop{
        max-width: 50vw;
    }
    @include laptop{
        font-size: 2.2rem;
    }
    @include ipadHorizontal{
        max-width: 50vw;
        font-size: 2.5rem;
    }


}
.video-container{
    height:50vh;
    border: solid 2px white;
    video{
        width: 100%;
        align-items:center;
    }
    @include desktop{
        width:50vw;
        height:auto;
    }
    @include ipadHorizontal{
        width: 95vw;
}
}