
.welcomePage{
    height:75vh;
    font-family: "Cookie";
    @include flex-collum{

    }
}
.welcomeText{
    margin-top:4%;
}
.welcomeTitle{
    text-align: center;
    font-family: "Cookie";
    font-size: 4.5rem;
    z-index: 1;
    padding:2%;
    margin:2%;
}
.welcomeSubtitle{

    text-align: center;
    font-size: 4rem;
    z-index: 1;

}
.welcomeParagraph{
    text-align: center;
    font-size:2.7rem;
    max-width:60vw;
    align-items:center;
    display:blcok;
    

}
.video-container{
    height:50vh;
    border: solid 2px white;
    video{
        height: 100%;
        align-items:center;
    }
}