
.welcomePage{
    position: relative;
    width: 100%;
    height: 100vh;
    @include flex-row{

    }
}
.welcomeText{
    text-align: center;
    font-size: 6rem;
    z-index: 1;
    font-family: "Cookie";
    padding:2%;
    margin:2%;
}
.mwelcomeParagraph{
    top:0;
    left:0;
    text-align: center;
    font-size: 3rem;
    font-family: "Cookie";

}
.video{
    width: 100vh;
    height: 100vh;
}