.navigationBar{
    height: 15.5vh;
    width: 100vw;
    z-index: 2;
    background-color:rgba((color(clear)), 1);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo{
    height:14vh;
    width: auto;
    padding:3rem;
    
    @include flex-collum{
     
        #logo-circle{
          max-height:65%; 
        }
        #logo-name{
          height:60%;
        }
        img{
          align-items: center;
          max-width: 100%;
        }
    }
}

.nav-menu {
  display: block;
    height: 0;
    display: flex;
    padding:2%;
    list-style: none;
    align-items: center;
    a{
      text-decoration: none;
      color: black;
    }

}
.nav-items{
  position: relative;
  font-size: 1.8rem;
  padding: 1rem 1.8rem;
  text-decoration: none;
  text-align: center;
  align-items: center;
  display:block;
}
.sub-nav {
    display:none;
    position: absolute;
    width: 12rem;
    list-style: none;
    align-items: center;
    overflow: hidden;
    background-color: white;
    padding:1rem;
    border-radius: 0px 0px 15px 15px;
    z-index: 3;
    a{
      text-decoration: none;
      color: rgb(190, 138, 7);
      display: block;
      text-align: center;
      padding: 7px 0px;
    }
}


.nav-sections:hover{
  background-color: rgb(2255, 218, 8);
  border-radius: 1.2rem;
  border: 0.2rem solid black;
  display: block;
  padding:1rem;
}

.nav-items:hover .sub-nav {
    display: block;
    overflow: hidden;
  }

.sub-nav a:hover{
    background-color: rgb(255, 218, 8);
    border-radius: 1.2rem;
    border: 0.2rem solid black;
}
.nav-sections:before {
  position: fixed;
  align-items: center;
  display: block;
}