.navigationBar{
    height: 15vh;
    width: 100vw;
    z-index: 2;
    background-color:rgba((color(clear)), 1);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 2rem;
    @include laptop{
        display:flex;
        align-items:center;
        flex-direction: row;
        justify-content: space-between;
    }
    @include tablet{
      @include flex-collum{

      }
    }
}

.logo{
    height:14vh;
    width: auto;
    padding-top: 0.2rem;
    @include flex-collum{
        img{
            align-items:center;
            max-width: 100%;
            max-height: 60%;
        }
    }
}

.nav-menu {
    height: 0;
    padding-bottom: 0.5rem;
    list-style-type: none;
    overflow: hidden;
    a{
      font-size: 1rem;
      text-decoration: none;
      color: black;
      text-align: center;
      margin: 1rem auto;
    }
    @include laptop{
    padding: 0;
    height:100%;
    width:45%;
    display: flex;
    align-items: center;
      a {
        font-size: 1.8rem;
        padding: 1.5rem 1.5rem;
        display: block;
      }
      @include tablet{
        height:5rem;
        width:30%;
        text-align:right;
        float:left;
        display:none;
      
      a{
        font-size:1.2rem;
        padding: .7rem .7rem;
      }
      .nav-menu:hover{
        display:block;
      }
    }
  }
}
.nav-items{
  margin:3%;
}
.nav-sections{
  max-height:100%;
  display:block;
  padding:5%;
}
.sub-nav {
    display: none;
    width: 15rem;
    z-index: 1;
    overflow: auto;
      a{
      color: rgb(190, 138, 7);
      background-color: white;
      text-align: center;
      padding:3px 5px;
      }
      a:hover{
      border-radius: 1.2rem;
      border: solid black 0.2rem;
      background-color:rgba(gold, 0.6);
      }
}
 .sub-nav:hover .nav-sections:before{
    display:block;
} 
  .nav-items:hover .sub-nav{
    border-radius:0px 0px 10px 10px;
    display: block;
    width:14rem;
    padding:5px;
    text-align:center;
    align-items:center;
    position:absolute;
    background-color:white;
    
  }


.nav-sections { 
    position:relative;
    color: black;
    
}
.nav-sections:hover{
  display:block;
    margin-bottom:15px;
    background-color: rgb(255, 218, 8);
    border-radius: 1.2rem;
    border: 0.2rem solid black;
}


.hamburger {
  position: absolute;
  height: 8vh;
  float: right;
  padding: 0.8rem 0.8rem 0 0;

  @include desktop{
    visibility:hidden;
  }
  @include tablet{
    visibility:visible;
  }
}

