.navigationBar{
    height: 16%;
    width: 100vw;
    z-index: 2;
    background-color:rgba((color(clear)), 1);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 2rem;
    @include desktop{
        @include flex-row{
        justify-content: space-between;
        }
    }
}

.logo{
    height:15vh;
    width: auto;
    padding-top: 0.2rem;
    @include flex-collum{
        img{
            align-items:center;
            max-width: 100%;
            max-height: 60%;
        }
    }
}

.nav-menu {
    height: 0;
    padding-bottom: 0.5rem;
    list-style-type: none;
    overflow: hidden;
    a{
      font-size: 1rem;
      text-decoration: none;
      color: black;
      text-align: center;
      margin: 1rem auto;
    }
    @include laptop{
    padding: 0;
    height: 10rem;
    display: flex;
    align-items: center;
      a {
        font-size: 1.1rem;
        padding: 1rem 0.3rem;
      }
      a.anchor{
      display: block;
      position: relative;
      top: -250px;
      visibility: hidden;
      }
    }
  }
  
.sub-nav {
    display: none;
    position: absolute;
    width: 200px;
    left:60rem;
    z-index: 1;
    right: 0;
    overflow: auto;
    a{
      color: rgb(190, 138, 7);
      background-color: white;
      text-align: center;
      display: block;
    }
  }
.nav-sections:before {
    position: fixed;
    background-color: black;
    display:none;
    visibility: hidden;
    transition: all 0.3s ease-out;
    @include desktop{
      height: 5px;
    }
    @include laptop{
      height:3px;
    }
}
.nav-items a:hover{
    background-color: rgb(255, 218, 8);
    border-radius: 1.2rem;
    border: 0.2rem solid black;
}
.sub-nav:hover .nav-sections:before{
    width: 100%;

}
.nav-items:hover .sub-nav{
    display: block;
    width:12rem;    
    border-radius: 0.5rem;
    border: soli gold 0.1rem;
}

.hamburger {
  position: relative;
  height: 11.75vh;
  float: right;
  padding: 0.8rem 0.8rem 0 0;

  @include laptop{
    visibility: hidden;
  }
   
}

