@import"./_variable.scss";
@import"./_usergallery.scss";
@import"./_navigation.scss";
@import"./_contentBlock1.scss";
@import"./_cb2.scss";
@import"./_flipCard.scss";
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
 }

body {
  background: goldenrod;
  z-index: 1;
  
 
}
.header {
  background-size: cover;
  align-items: center;
  height: 95vh;
  width: 99%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.button {
	position: absolute;
	display: block ;
	top: 65%;
	left:43.5%;
	width:15rem;
	z-index: 1;
	margin:.5rem auto;
	border: none;
	background-color: gold;
	color: black;
	padding: 1.4rem 2.8rem;
	font-size: 1.6rem;
	cursor: pointer;
	text-align: center;
 	border-radius: 50px;
 	box-shadow: 0 8px 0 #1b383b;
 	text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

